body{
    background-color: rgb(22, 21, 21);
    color: white;
}

h1{
    text-align: center;
}

#escola1{
    background-color: rgb(59, 59, 59);
    height: 22vh;
    padding: 2rem;
    border-radius: 10px;
}

#salas{
    justify-content: space-around;
    margin-top: 6rem;
    text-align: center;
}

#abrir-sala1,
#abrir-sala2,
#abrir-sala3,
#abrir-sala4
{
    width: 40vh;
    height: 5vh;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 1.3rem;
    cursor: pointer;
    border-radius: 12px;
    border: none;
    margin: 0 2rem;
}

#sala1,
#sala2,
#sala3,
#sala4{
    width: 90%;
    margin: 2rem auto;
    border-radius: 12px;
    background-color: rgb(129, 115, 115);
    padding: 0.5rem;
}

#sala1 h2,
#sala2 h2,
#sala3 h2,
#sala4 h2{
    text-align: center;
}

#calcular-media{
    margin: 2rem 80vh;
    padding: 0.8rem;
    width: 19rem;
    background-color: rgb(39, 38, 38);
    color: white;
    font-weight: bold;
    font-size: 1.1rem;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.aluno{
    font-size: 1.1rem;
    font-weight: bold;
    font-family: sans-serif;
    color: black;
    padding: 0.5rem;
    display: flex;
    justify-content: space-around;
    border-bottom: 4px solid white;
}

.hide{
    display: none;
}